# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#OS ignore
[Tt]humbs.db
*.DS_Store

#Visual Studio ignore
*.opensdf
*.sdf
*.[Oo]bj
*.pch
*.vspscc
*.vssscc
*.suo
*.ilk
ipch/
[Bb]in
[Dd]ebug*/
[Oo]bj/
[Rr]elease*/

#CSV files generated to be ignored
*.csv*
csv*